body{
    background-color: aqua;
    background-image:url(fluffy-white-cartoon-clouds-blue-sky-vector-set_53562-4287.avif) ;
}

h1{
    text-align: center;
    
}

section{
    text-align: center;
    margin-top: 10%;
}
div-class list{
    text-align: center;
}